{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center">
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
      <div class="row">
        {{ range .RegularPages }}
          <div class="md:col-6 lg:col-4 mb-12">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
